<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="order by dede58.com"/>
<title>Floral Shop, Ecommerce, Online Shopping, About page</title>
<meta name="keywords" content="free template, floral shop, ecommerce, online shopping, store" />
<meta name="description" content="Floral Shop, About page, free website template for ecommerce stores or online shopping websites." />
<link href="css/templatemo_style.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="css/orman.css" type="text/css" media="screen" />
<link rel="stylesheet" href="css/nivo-slider.css" type="text/css" media="screen" />

<link rel="stylesheet" type="text/css" href="css/ddsmoothmenu.css" />

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/ddsmoothmenu.js">

/***********************************************
* Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>

<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "templatemo_menu", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}

</script>

</head>

<body>

<div id="templatemo_wrapper_sp">
<div id="templatemo_header_wsp">
	<div id="templatemo_header" class="header_subpage">
        <div id="nav_title" style="width: 100%;height: 40px;">
            <div style="line-height: 40px;font-size: 16px;float: right;">
                <a href="index.php?s=home/index/register">注册</a> | <a href="index.php?s=home/index/login">登录</a> | <a href="index.php?s=home/index/exitLogin">退出登录</a>
            </div>            
        </div>
    	<div id="site_title"><a href="http://www.templatemo.com" rel="nofollow">Free CSS Templates</a></div>
        <div id="templatemo_menu" class="ddsmoothmenu">
            <ul>
                <li><a href="index.php?s=home/index/index">首页</a></li>
                <li><a href="index.php?s=home/index/products">产品中心</a></li>
                <li><a href="index.php?s=home/index/shoppingcart">我的购物车</a></li>
                <!-- <li><a href="index.php?s=home/index/checkout">我的订单</a></li> -->
                <li><a href="index.php?s=home/index/contact">收货地址</a></li>
                <li><a href="index.php?s=home/index/about" class="selected">关于我们</a></li>
                <li><a href="index.php?s=home/index/faqs">常见问题</a></li>
            </ul>
            <br style="clear: left" />
        </div>
    </div> <!-- END of header -->
</div> <!-- END of header wrapper -->
<div id="templatemo_main_wrapper">
<div id="templatemo_main">
	<div id="sidebar" class="left">
    	<div class="sidebar_box"><span class="bottom"></span>
            <h3>产品分类</h3>   
            <div class="content"> 
                <ul class="sidebar_list">
                    <?php foreach($category as $key=>$val){?>
                        <li><a href="index.php?s=home/index/index&category_id=<?= $val['id']?>"><?= $val['name']?></a></li>
                    <?php }?>
                </ul>
            </div>
        </div>
        <div class="sidebar_box"><span class="bottom"></span>
            <h3>Weekly Special</h3>   
            <div class="content special"> 
                <img style="width: 220px;height: 220px;" src="http://img14.yiguoimg.com/d/items/2018/180925/9288731755455801_300.jpg" alt="Flowers" />
                <a href="#">Citrus Burst Bouquet</a>
                <p>
                	Price:
                    <span class="price normal_price">$160</span>&nbsp;&nbsp;
                    <span class="price special_price">$100</span>
                </p>
            </div>
        </div>
    </div>
    
    <div id="content" class="right">
		<h2>关于我们</h2>
        <p>直到SAPIEN。对于现在。最新的热身运行的笑声。面筋。足球队员从宣传的下午。日本足球和亲爱的我的客户。这比Nullam dignissim ligula faucibus奥奇euismod更好。但教室。没有脚，足球和篮球脚便利。总有一个层底脚。只要有可能。每个执法大幅直径。</p>
        <ul class="tmo_list_circle">
        	<li>Lorem存有悲坐阿梅德，consectetur adipiscing ELIT。</li>
            <li>所述posuere的闸门质量QUIS Mauris NEC奥迪奥UT奥奇malesuada法无ID。</li>
            <li>生活和生命，愿ultricies augue scelerisque纯，他现在是一个人。</li>
            <li>Aliquam发酵的cursus risus aliquam ERAT volutpat。</li>
            <li>一个宣传足球队成员坐在morbiet我的客户我的抵扣。</li>
		</ul>
        <div class="cleaner h20"></div>
        <h3>足大众目前，AC</h3>
		<p>对于他们这样做不是狮子。聊天feugiat旅行社爱欲。现在弓值得不可行的开发者，开发者，我的微距沙拉和香蕉，我的温度足球比分。UT暂准ligula，adipiscing交流，placerat的sed，ultricies生活，也不是。Morbi feugiat非预期值，也奥迪奥eleifend枕。</p>
        <div class="cleaner"></div>
        <blockquote>Lorem存有悲坐阿梅德，consectetur adipiscing ELIT。所述posuere的闸门质量QUIS Mauris NEC奥迪奥UT奥奇malesuada法无ID。生活，生命，愿盯人纯，他现在是没有id奥奇augue ultricies热malesua。
        </blockquote>
    </div>
    <div class="cleaner"></div>
</div> <!-- END of main -->
</div> <!-- END of main wrapper -->

<div id="templatemo_footer_wrapper">
<div id="templatemo_footer">
	<div class="footer_left">
    	<a href="#"><img src="images/1311260370_paypal-straight.png" alt="Paypal" /></a>
        <a href="#"><img src="images/1311260374_mastercard-straight.png" alt="Master" /></a>
        <a href="#"><img src="images/1311260374_visa-straight.png" alt="Visa" /></a>
    </div>
	<div class="footer_right">
		<p><a href="index.html">Home</a> | <a href="products.html">Products</a> | <a href="about.html">About</a> | <a href="faqs.html">FAQs</a> | <a href="checkout.html">Checkout</a> | <a href="contact.html">Contact</a></p>
        <p>Copyright © 2084 <a href="#">Company Name</a> | Design: <a href="http://www.templatemo.com/preview/templatemo_385_floral_shop" rel="nofollow">Floral Shop</a></p>
	</div>
    <div class="cleaner"></div>
</div> <!-- END of footer -->
</div> <!-- END of footer wrapper -->
</div>

</body>
<script type='text/javascript' src='js/logging.js'></script>
</html>