<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <base href="/flower_project/public/"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="order by dede58.com"/>
<title>Floral Shop, Ecommerce, Online Shopping, Web Store-花卉店电子商务网上花店鲜花网购网页模板</title>
<meta name="keywords" content="free template, floral shop, ecommerce, online shopping, store" />
<meta name="description" content="Floral Shop is free website template for ecommerce or online shopping websites. Products, Shopping Cart, FAQs and Checkout pages are included." />
<link href="css/templatemo_style.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="css/orman.css" type="text/css" media="screen" />
<link rel="stylesheet" href="css/nivo-slider.css" type="text/css" media="screen" />

<link rel="stylesheet" type="text/css" href="css/ddsmoothmenu.css" />

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/ddsmoothmenu.js">

/***********************************************
* Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>

<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "templatemo_menu", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}

</script>

<link rel="stylesheet" href="css/slimbox2.css" type="text/css" media="screen" /> 
<script type="text/JavaScript" src="js/slimbox2.js"></script> 
</head>
<body>
<div id="templatemo_wrapper_h">
<div id="templatemo_header_wh">
	<div id="templatemo_header" class="header_home">
        <div id="nav_title" style="width: 100%;height: 40px;">
            <div style="line-height: 40px;font-size: 16px;float: right;">
                <a href="index.php?s=home/index/register">注册</a> | <a href="index.php?s=home/index/login">登录</a> | <a href="index.php?s=home/index/exitLogin">退出登录</a>
            </div>            
        </div>
    	<div id="site_title" style="margin-top: 10px;"><a href="http://www.templatemo.com" rel="nofollow">Free CSS Templates</a></div>
        <div id="templatemo_menu" class="ddsmoothmenu">
            <ul>
                <li><a href="index.php?s=home/index/index" class="selected">首页</a></li>
                <li><a href="index.php?s=home/index/products">产品中心</a></li>
                <li><a href="index.php?s=home/index/shoppingcart">我的购物车</a></li>
                <!-- <li><a href="index.php?s=home/index/checkout">我的订单</a></li> -->
                <li><a href="index.php?s=home/index/contact">收货地址</a></li>
                <li><a href="index.php?s=home/index/about">关于我们</a></li>
                <li><a href="index.php?s=home/index/faqs">常见问题</a></li>
            </ul>
            <div id="templatemo_search">
                <form action="index.php?s=home/index/index" method="post">
                  	<input type="text" name="keyword" id="keyword" title="keyword" onfocus="clearText(this)" onblur="clearText(this)" class="txt_field" placeholder="关键字搜索"/>
                  	<input type="button" name="Search" value="" alt="Search" id="searchbutton" title="Search" class="sub_btn" />
                </form>
            </div>
            <br style="clear: left" />
        </div> 
        <a href="http://cn.hdstockphoto.com" title="Hdstockphoto"  class="site_repeat" ></a><!-- end of templatemo_menu -->

        <div class="slider-wrapper theme-orman">
            <div class="ribbon"></div>
            <div id="slider" class="nivoSlider">
                <?php foreach($banner as $key=>$val){?>
                    <img src="<?= $val['url'];?>" alt="slider image 1" />
                <?php }?>
                <!-- <a href="http://www.templatemo.com/page/1" rel="nofollow">
                	<img src="images/portfolio/02.jpg" alt="slider image 2" title="This is an example of a caption" />
                </a> -->
                <!-- <img src="images/portfolio/03.jpg" alt="slider image 3" />
                <img src="images/portfolio/04.jpg" alt="slider image 4" title="#htmlcaption" />
                <img src="images/portfolio/05.jpg" alt="slider image 5" title="#htmlcaption" /> -->
            </div>
            <div id="htmlcaption" class="nivo-html-caption">
                <strong>Example</strong> caption with <a href="http://dev7studios.com" rel="nofollow">a credit link</a> for <em>this slider</em>.
            </div>
        </div> 
		<script type="text/javascript" src="js/jquery-1.6.1.min.js"></script>
        <script type="text/javascript" src="js/jquery.nivo.slider.pack.js"></script>
        <script type="text/javascript">
        $(window).load(function() {
            $('#slider').nivoSlider({
				controlNav:false
			});
        });
        </script>
    </div> <!-- END of header -->
</div> <!-- END of header wrapper -->
<div id="templatemo_main_wrapper">
<div id="templatemo_main">
	<div id="sidebar" class="left">
    	<div class="sidebar_box"><span class="bottom"></span>
            <h3>产品分类</h3>
            <div class="content">
                <ul class="sidebar_list">
                    <?php foreach($category as $key=>$val){?>
                        <li><a href="index.php?s=home/index/products&category_id=<?= $val['id']?>"><?= $val['name']?></a></li>
                    <?php }?>
                </ul>
            </div>
        </div>
        <div class="sidebar_box"><span class="bottom"></span>
            <h3>每周特价</h3>
            <div class="content special"> 
                <img src="http://img14.yiguoimg.com/d/items/2018/180925/9288731755455801_300.jpg" alt="Flowers" width="220px" height="220px" />
                <!-- 商品名称 -->
                <a href="#">Citrus Burst Bouquet</a>
                <p>
                	Price:
                    <!-- 原价 -->
                    <span class="price normal_price">$160</span>&nbsp;&nbsp;
                    <!-- 现价 -->
                    <span class="price special_price">$100</span>
                </p>
            </div>
        </div>
    </div>
    
    <div id="content" class="right">
		<h2>欢迎光临</h2>
        <div id="content_data">
            <?php foreach($product_list as $key=>$val){?>
            <div class="product_box"">
                <a href="index.php?s=home/index/productdetail&id=<?= $val['id']?>"><img src="<?= $val['main_img_url']?>" style="width: 170px;height: 190px;" title="<?= $val['alt_name']?>"/></a>
                <h3><?= $val['name']?></h3>
                <p class="product_price">$<?= $val['price']?></p>
                <p class="add_to_cart">
                    <a href="index.php?s=home/index/productdetail&id=<?= $val['id']?>">详情</a>
                    <a href="index.php?s=home/index/shoppingcart_do&id=<?= $val['id']?>&product_price=<?= $val['price']?>">加入购物车</a>
                </p>
            </div>
            <?php }?>
        </div>

        <div class="cleaner h20"></div>
        <div class="blank_box" style="margin-bottom: 20px;">
            <a href="javascript:void(0);" class="button left" page="<?php echo $page - 1 < 1 ? 1 : $page - 1 ;?>" ajax_page="page" id="prev">上一页</a>
            <a href="javascript:void(0);" class="button right" page="<?php echo $page + 1 > $pageNum ? $pageNum : $page + 1 ;?>" ajax_page="page" id="next">下一页</a>
        </div>
        <div class="blank_box">
        	<a href="javascript:;"><img src="images/free_shipping.jpg" alt="Free Shipping" /></a>
        </div>    
    </div>
    <div class="cleaner"></div>
</div> <!-- END of main -->
</div> <!-- END of main wrapper -->

<div id="templatemo_footer_wrapper">
<div id="templatemo_footer">
	<div class="footer_left">
    	<a href="#"><img src="images/1311260370_paypal-straight.png" alt="Paypal" /></a>
        <a href="#"><img src="images/1311260374_mastercard-straight.png" alt="Master" /></a>
        <a href="#"><img src="images/1311260374_visa-straight.png" alt="Visa" /></a>
    </div>
	<div class="footer_right">
		<p><a href="index.html">Home</a> | <a href="products.html">Products</a> | <a href="about.html">About</a> | <a href="faqs.html">FAQs</a> | <a href="checkout.html">Checkout</a> | <a href="contact.html">Contact</a></p>
        <p>Copyright © 2084 <a href="#">Company Name</a> | Design: <a href="http://www.templatemo.com/preview/templatemo_385_floral_shop" rel="nofollow">Floral Shop</a> download from <a href="http://www.mianfeimoban.com">mianfeimoban</a></p>
	</div>
    <div class="cleaner"></div>
</div> <!-- END of footer -->
</div> <!-- END of footer wrapper -->
</div>

</body>
<script type='text/javascript' src='js/logging.js'></script>
</html>
<script>
    $('#searchbutton').click(function(){
        var obj = $(this);
        var search = $('#keyword').val();
        $.ajax({
            url:'index.php?s=home/index/index',
            type:'get',
            data:{search:search},
            dataType:'json',
            success:function(res){
                console.log(res);
                var str = '';
                $.each(res.product_list,function(k,v){
                    str += '<div class="product_box"><a href="index.php?s=home/index/productdetail&id='+ v.id+'"><img src="'+ v.main_img_url+'"style="width: 170px;height: 180px;" title="<?= $val['alt_name']?>"/></a><h3>'+ v.name+'</h3><p class="product_price">'+ v.price+'</p><p class="add_to_cart"><a href="index.php?s=home/index/productdetail&id='+ v.id+'">查看商品详情</a><a href="index.php?s=home/index/shoppingcart_do&id='+ v.id+'&product_price='+v.price+'">添加购物车</a></p></div>';
                });
                $('#content_data').html(str);
                $('#prev').attr('page',res.prev_page);
                $('#next').attr('page',res.next_page);

            }
        });
    });
    $('[ajax_page=page]').click(function(){
        var obj = $(this);
        var page = obj.attr('page');
        var search = $('#keyword').val();
//        console.log(page);
//        console.log(search);return;
        $.ajax({
            url:'index.php?s=home/index/index',
            type:'get',
            data:{page:page,search:search},
            dataType:'json',
            success:function(res){
                console.log(res);
                var str = '';
                $.each(res.product_list,function(k,v){
                    str += '<div class="product_box"><a href="index.php?s=home/index/productdetail&id='+ v.id+'"><img src="'+ v.main_img_url+'" style="width: 170px;height: 180px;" title="<?= $val['alt_name']?>"/></a><h3>'+ v.name+'</h3><p class="product_price">'+ v.price+'</p><p class="add_to_cart"><a href="index.php?s=home/index/productdetail&id='+ v.id+'">查看商品详情</a><a href="index.php?s=home/index/shoppingcart_do&id='+ v.id+'&product_price='+v.price+'">添加购物车</a></p></div>';
                });
                $('#content_data').html(str);
                $('#prev').attr('page',res.prev_page);
                $('#next').attr('page',res.next_page);

            }
        });
    });
</script>