<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <base href="/flower_project/public/"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>管理员登陆</title>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/body.css"/> 
</head>
<body>
<div class="container">
	<section id="content">
		<form action="index.php?s=index/index/login" method="post">
			<h1>管理员登录</h1>
			<div>
				<input type="text" placeholder="用户名" required="" id="username" name="nickname"/>
			</div>
			<div>
				<input type="password" placeholder="密码" required="" id="password" name="nickpwd"/>
			</div>
            <div>
                <input type="text" placeholder="验证码" required="" id="verify" name="verify"/>
            </div>

            <div id="img_replace">
                <div class="verify_img">{:captcha_img()}</div>
            </div>
            <a href="javascript:void(0);" class="verify_img">看不清楚？换一张</a>


            <div class="">
				<span class="help-block u-errormessage" id="js-server-helpinfo">&nbsp;</span>			</div> 
			<div>
				<!-- <input type="submit" value="Log in" /> -->
				<input type="submit" value="登录" class="btn btn-primary" id="js-btn-login"/>
				<a href="index.php?s=index/index/register">注册用户</a>
				<!-- <a href="#">Register</a> -->
			</div>
		</form><!-- form -->
	</section><!-- content -->
</div>
<!-- container -->
<br><br><br><br>
</body>
</html>
<script src="js/jquery-3.2.1.min.js"></script>
<script>
    $(document).on('click','.verify_img',function(){

        var str = '<div class="verify_img">{:captcha_img()}</div>';
        $('#img_replace').html(str);
    });
</script>